.skill {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 5px;
    width: 400px;
    padding: 20px;
    margin: 20px;
}

.skillMain {
    font-family: "Maven Pro", sans-serif;
    font-size: 40px;
    font-weight: normal;
    color: white;
}

.logo img {
    width: 150px;
    background: none;
}
.skillProp {
    font-family: "Maven Pro", sans-serif;
    font-size: 18px;
}