.container {
    background-color: deepskyblue;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.title {
    font-size: 60px;
    font-family: "Montserrat Thin", sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    padding: 40px 0 40px 0;

}

.skillsBlock {

    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
}

